@font-face {
    font-family: PixelSans;
    src: url(/css/fonts/Pixel/PixeloidSans-mLxMm.ttf);
}

@font-face {
    font-family: PoppinsMed;
    src: url(/css/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsReg;
    src: url(/css/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsEBold;
    src: url(/css/fonts/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: PoppinsBold;
    src: url(/css/fonts/Poppins/Poppins-Bold.ttf);
}