ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#right {
    float: right;
    position: sticky;
}

#left {
    float: left;
    position: sticky;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


a:hover{
    background-color: #111;
}

.center-content {
    margin: auto;
    width: 60%;
    border: 3px solid white;
    padding: 10px;
    color: white;
  }