<script src="\assets\scripts\clipboardjs\dist\clipboard.min.js"></script>


<span style="color:white; text-align: center;">
    <button class="btn" data-clipboard-text="{{ include.copy }}" style="color:white; text-align: center; background-color: transparent;">
        <img src="\assets\Icons\copy.png" width="20" height="20">
        Click to copy code.
        <img src="\assets\Icons\copy.png" width="20" height="20">
    </button>
</span>


<div class="codeBox" style="color:black; font-size: small;">
    {{ include.text }}
</div>

<script>
    new ClipboardJS('.btn');
</script>