<!-- 
    This is a master layout, this layout will take effect on all pages.
    Only modify this layout if needed be.
-->

<footer>
    <div style="clear: both;">&nbsp;</div>
    <div id="footer">
        <p><a href="https://github.com/ChobbyCode">ChobbyCode</a> & <a href="https://www.youtube.com/channel/UCGTBbWzzWBv3qTStI30zklw">Techplain</a> (same individual) 2023. All products affiliated with and or ChobbyCode automatically come
            under their respective licenses. <br>
            <a href="https://www.flaticon.com/free-icons/copy" title="copy icons">Copy icons created by Freepik -
                Flaticon </a>
        </p>
    </div>
    </div>
</footer>