<!--
  This file takes effect on all files.
-->

<footer>
    <div style="clear: both;">&nbsp;</div>
    <div id="footer">
        <p><a href="https://github.com/ChobbyCode">ChobbyCode</a> & <a href="https://www.youtube.com/channel/UCGTBbWzzWBv3qTStI30zklw">Techplain</a> (same individual) 2024. All products affiliated with and or ChobbyCode come
            under <a href="/licenses/">ChobbyCode's License</a>.<br> <a href="/licenses/">View License Agreement</a>
        </p>
    </div>
    </div>
</footer>
