<!--
  This file takes effect on all files.
-->

<footer>
    <div style="clear: both;">&nbsp;</div>
    <div id="footer">
        <p><u><a class="text-white" href="https://github.com/ChobbyCode">ChobbyCode</a></u>
            & 
             <u><a class="text-white" href="https://www.youtube.com/channel/UCGTBbWzzWBv3qTStI30zklw">Techplain</a></u>
            (same individual) 2024. All products affiliated with and or ChobbyCode come under 
            <u>
                <a class="text-white" href="/licenses/">ChobbyCode's License</a>
            </u>
            .<br> 
            <u><a class="text-white" href="/licenses/">View License Agreement</a></u>
        </p>
    </div>
    </div>
</footer>
