<nav class="navbar navbar-expand-lg position-fixed" style="top: 0;">
  <a class="navbar-brand ps-2" href="/">ChobbyCode</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="navbar" id="navbarNav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About</a>
      </li>
  </div>
</nav>
