---
layout: nonContent
---





<div class="latest-post">
    <h3>Welcome to ChobbyCode.github.io</h3>
    <p>
        Welcome to ChobbyCode.github.io, see ChobbyCode's latest projects, ideas and <a href="/blogs/">blogs</a>.
        Chobby (aka Jacob) also owns a <a href="https://www.youtube.com/@techplain">Youtube Channel</a>
        where he posts
        content on technology, gaming and other computer related content. This website is a sharing ground
        for him, to
        share these projects and his youtube channel.<br>
        <br>
        <a href="/blog/">Click here to navigate to the blogs page.</a>
    </p>

    <div id="footer"></div>
</div>


{{ content }}