<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width" , initial-scale="1.0">
    <link rel="stylesheet" href="/css/font-def.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/homeActive.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> {{ page.title }}</title>
</head>

<body>

    {% include nav.html %}


    <section class="section mt-5">
        <div class="center h2" style="margin-top: 300px;">
            An idiot admires complexity, a genius admires simplicity.
            <div class="h4 center">
                - Terry. A. Davis
            </div>
        </div>
    </section>

    <section class="section" style="margin-top: 275px;">
        <div class="center h3">
            What do I do?

            <div class="h4 text-secondary">
                I create products which can be used to make tasks more efficient, and Media related content.
            </div>
        </div>
    </section>

    <section class="section" style="margin-top: 300px; margin-bottom: 400px;">
        <div class="center h3">
            Do your products cost money?

            <div class="h4 text-secondary">
                Most of my products are open source and free, it is requested for credits to be given however.
            </div>
        </div>
    </section>


    <script src="\assets\scripts\scroll.js"></script>

    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>