<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\default.css">
    <link rel="stylesheet" href="\css\home.css">
    <link rel="stylesheet" href="\css\font-def.css">
    <link rel="stylesheet" href="\css\nav.css">
    <title>Home</title>
</head>

<body>

    <div class="bg"></div>

    {% include nav.html %}

    <main>

        <section>
            <h1 class="animate-on-scroll">[Insert Filler Text]</h1>
            <h1 class="animate-on-scroll", style="position: absolute; left: 65%; top: 60%;">- [Insert Name Here]</h1>
        </section>

        <section style="text-align: center;">
            <h2 class="animate-on-scroll">What do I do?</h2>
            <h3 class="animate-on-scroll">
                I make console tools, NuGet packages, youtube media, operating systems and other forms of computer related products.
            </h3>
            <div class="info-1"></div>
        </section>

        <section style="text-align: center;">
            <h2 class="animate-on-scroll">Where to get my products.</h2>
            <h3 class="animate-on-scroll">
                All of my products are available on github, by clicking on the products page of this website, you will be able to see the products <br>
                and have links to them.<br>
                <br>
                Some of my most notable projects are: Slide (Datacacher for Windows), UC (Github Update Checker) and BiscuitOS.
            </h3>
        </section>

        <section style="text-align: center;">
            <h2 class="animate-on-scroll">Blogs</h2>
            <h3 class="animate-on-scroll">
                Most of the content of this website is recorded in blog articles. You will be able to find
                 tutorials and blogs in the blog section <a href="\blog\">here</a>.
            </h3>
        </section>

    </main>

    <script src="\assets\scripts\scroll.js"></script>

    {% include footer.html %}
</body>

</html>