<!-- 
    This is a master layout, this layout will take effect on all pages.
    Only modify this layout if needed be.
-->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width" , initial-scale="1.0">
    <link rel="stylesheet" href="/css/font-def.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/codeblock.css">

    <title> {{ page.title }}</title>
</head>

<body>


    <!--<div id="header">
        <h1 style="font-family: PoppinsEBold;"><a href="#">ChobbyCode</a></h1>
        <h2 style="font-family: PoppinsEBold;"><a href="#">Software & Media</a></h2>
    </div>-->

    <nav>
        <ul style="font-family: PoppinsBold; font-size:150%; ">
            <li><a href="/home/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li style="float: right;"><a href="https://www.youtube.com/channel/UCGTBbWzzWBv3qTStI30zklw">Youtube</a>
            </li>
            <li style="float: right;"><a href="/about/">About</a></li>
        </ul>
    </nav>

    <div id="content">

        <div id="colTwo">

            {{ content }}

        </div>

        {% include footer.html %}

    </div>

</body>

</html>