<!-- 
    This is a master layout, this layout will take effect on all pages.
    Only modify this layout if needed be.
-->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width" , initial-scale="1.0">
    <link rel="stylesheet" href="/css/font-def.css">
    <link rel="stylesheet" href="/css/default.css">

    <title> {{ page.title }}</title>
</head>

<body>

    <div id="header">
        <h1 style="font-family: PoppinsEBold;"><a href="#">ChobbyCode</a></h1>
        <h2 style="font-family: PoppinsEBold;"><a href="#">Software & Media</a></h2>
    </div>

    <div id="content">

        <nav>
            <ul style="font-family: PoppinsBold; font-size:150%; ">
                <li><a href="/home/" style="color: #32A956">Home</a></li>
                <li><a href="/blog/" style="color: #32A956">Blog</a></li>
                <li style="float: right;"><a href="https://www.youtube.com/channel/UCGTBbWzzWBv3qTStI30zklw"
                        style="color: #32A956">Youtube</a> </li>
                <!--<li style="float: right;"><a href="/about/" style="color: #32A956">About</a></li>-->
            </ul>

            <div id="footer"></div>
        </nav>

        <div id="colTwo">

            {{ content }}

        </div>

        <div style="clear: both;">&nbsp;</div>
        <div id="footer">
            <p>Copyright &copy; 2023 ChobbyCode. All products affiliated with and or ChobbyCode automatically come
                under
                their
                respective licenses.</p>
        </div>
    </div>

    </div>

</body>

</html>