

.content {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: inherit;
  padding: 0 10px;
}

.ThemeButton {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem;
}
